export const PLAYER_BUFFER = 2 ** 14;

export const TCP_ADDRESS = "localhost";
export const TCP_PORT = 61124;
export const AUTH_WAIT_MS = 1000;

export const HTTP_PORT = 61125;
export const MAX_ACTIVE_RACES = 10;

export const CRASH_TIMEOUT_MS = 10000;
